html, body {
    margin: 0;
    padding: 0;
}

.div1 {
    background-image: url("https://cdn.pixabay.com/photo/2014/01/14/13/55/pathway-244494_1280.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Poppins', sans-serif;
}

.div2 {
    background-image: url("https://cdn.pixabay.com/photo/2014/01/14/13/55/pathway-244494_1280.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
}